<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">




</head>

<body>




  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <a class="btn btn-success" href="/addProduct">Add Product</a>

    <div class="row">

      <% products.forEach(product=>{ %>
        <div class="col-sm">
          <div class="card">
            <img src="/uploads/<%= product.image %>" class="card-img-top" alt="Product image" width="300px">
            <div class="card-body">
              <h5 class="card-title">
                <%= product.title %>
              </h5>
              <p class="card-text">
                <%= product.description %>
              </p>
              <p class="card-text">
                <%= product.price %>
              </p>
              <a href="/product/<%= product.id %>" class="btn btn-primary">Details</a>

            </div>
          </div>
        </div>
        <% }) %>



    </div>

</body>

</html>